*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

// a,
// button,
// input,
// label {
// 	-webkit-tap-highlight-color: transparent;
// }
