@use '../../sass/variables' as *;

.header {
	padding: 1.5rem 2rem;
	margin: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	border: solid 2px var(--color-grey-2);
	border-radius: 15px;

	@media only screen and (max-width: $sm) {
		border-radius: 10px;
	}

	img {
		@media only screen and (max-width: $sm-md) {
			width: 40%;
		}
	}
}
